{% extends '::base_admin.html.twig' %}
{% block home %}
    {{parent()}}
    {% block categorie %}{% endblock %}
    {% block tarif %}{% endblock %}
    {% block automobile %}{% endblock %}
    {% block action %}{% endblock %}
     {% block titre %}Gestion des polices assurances{% endblock %}
            <form {{form_enctype(form)}} method="post" style=" margin: 25px 25px; ">
             <div class="col-md-3">
                  {{ form_label(form.NumAven) }}
                  {{ form_widget(form.NumAven) }}
                  
                  {{ form_label(form.numAssur) }}
                  {{ form_widget(form.numAssur) }}
                  
                  {{ form_label(form.nomAssur) }}
                  {{ form_widget(form.nomAssur) }}
                  
                   {{ form_label(form.adressAssur) }}
                  {{ form_widget(form.adressAssur) }}
                  
                
                  
             </div>   
                     <div class="col-md-3">
                  
                  {{ form_label(form.catAssur) }}
                  {{ form_widget(form.catAssur) }}
                  
                   {{ form_label(form.mouvAssur) }}
                  {{ form_widget(form.mouvAssur) }}
                  
                    {{ form_label(form.dateEffAssur) }}
                  {{ form_widget(form.dateEffAssur) }}
                  
                 
                   {{ form_label(form.dateExpAssur) }}
                  {{ form_widget(form.dateExpAssur) }}
                  
             </div>   
              <div class="col-md-3">
                  {{ form_label(form.client) }}
                  {{ form_widget(form.client) }}
                  
                  {{ form_label(form.dureeAssur) }}
                  {{ form_widget(form.dureeAssur) }}
                  
                  {{ form_label(form.agence ) }}
                  {{ form_widget(form.agence) }}
                  
                  {{ form_label(form.typePoliceAssurance) }}
                  {{ form_widget(form.typePoliceAssurance) }}
                  
                 
                  
                    {{ form_widget(form) }}
             </div>
              <div class="col-md-2" style="margin-top: 25px;">
                  <button class="btn btn-success" type="submit">Enregistrer</button>
             </div>
            
        </form>
        <div class="col-md-12" style=" margin-bottom: 50px; margin-top: 50px; ">
           
           <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 7%">N°</th>
                    <th style="width: 7%">Id.</th>
                    <th style="width: 7%">N° Avenant</th>
                    <th style="width: 7%">N° Police</th>
                    <th style="width: 9%">Nom</th>
                    <th style="width: 7%">Adresse</th>
                    <th style="width: 7%">Catégorie</th>
                    <th style="width: 7%">Mouvement</th>
                    <th style="width: 7%">Durée</th>
                    <th style="width: 7%">Agence</th>
                    <th style="width: 7%">Type</th>
                    <th style="width: 7%">Client</th>
                    <th style="width: 7%;text-align:right;">Action</th>
                </tr>
            </thead>
            <tbody>
                {%for p in policeassurances%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{p.id}}</td>
                        <td>{{p.numAven}}</td>
                        <td>{{p.numAssur}}</td>
                        <td>{{p.nomAssur}}</td>
                        <td>{{p.adressAssur}}</td>
                        <td>{{p.catAssur}}</td>
                        <td>{{p.mouvAssur}}</td>
                        <td>{{p.dureeAssur}}</td>
                        <td> {%if p.agence%}{{p.agence.mon}}{%else%}{%endif%}</td>
                        <td> {%if p.typePoliceAssurance%}{{p.typePoliceAssurance.libelle}}{%else%}{%endif%}</td>
                        <td> {%if p.client%}{{p.client.nom}}{%else%}{%endif%}</td>
                        <td style="text-align:right;">
                                <a href="{{path('modifier_police_assurance', {'id': p.id})}}" class="btn btn-default" title="Modifier"><i class="glyphicon glyphicon-edit"></i></a>
                                <a data-toggle="modal" href="#supprimer_police_assurance{{p.id}}" class="btn btn-default" title="Supprimer"><i class="glyphicon glyphicon-trash"></i></a>
                                <div class="modal" id="supprimer_police_assurance{{p.id}}" style="margin-top: 60px">
                                    <div class="modal-dialog" style="max-width: 400px">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" style="text-align: center">Confirmer la suppression</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p style="text-align: center; font-size:15px;">Voulez vous vraiment supprimer cette police d'assurance?</p>

                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{path('supprimer_police_assurance', {'id': p.id})}}" class="btn btn-danger">Supprimer</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
</div>
	
 {% endblock %}


